@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Unbounded:wght@200..900&display=swap');

@font-face {
  font-family: "Jonova";
  src: url("../fonts/Jonova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jonova";
  src: url("../fonts/Jonova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lepka";
  src: url("../fonts/LEPKA.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
